<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="static/normalize.css">
  <link rel="stylesheet" href="static/sakura.css" media="screen">
  <link rel="stylesheet" href="static/sakura-dark.css" media="screen and (prefers-color-scheme: dark)">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/change-pwd">Change Password</a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>{{ title }}</h1>
    {% block content %} {% endblock %}
  </main>
  <!-- <script src="index.js"></script> -->
</body>

</html>